@charset "utf-8";

body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
/* 	font-size: 87.5%; */
/* 	line-height: 1.5; */
}
input, textarea {
	margin-top: 7px;
}
textarea {
	width: 420px;
	height: 115px;
	overflow-y: scroll;
}
