@import url(reset.css);
@import url(graphic.css);

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #faf3e9;
    font-size: medium;
}
/*-----------------------------------------------
ヘッダー
-----------------------------------------------*/
.menu {
    list-style: none;
    display: flex;
    margin: 0 auto 0 auto;
    padding: 0;
}

.menu li {
    /* margin-right: 20px; */
    background-color: #edcc4b;
}

.menu a {
    background-color: #edcc4b;
    color: #BD1A22;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.shopLogo img{
    height: 42px;
}

/* スクロール時のヘッダスタイル */
body.sticky .navbar {
    background-color: #edcc4b;
}

/*-----------------------------------------------
ハンバーガー
-----------------------------------------------*/
.navbar {
    background-color: #edcc4b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #BD1A22;
    margin: 5px 0;
}

.barmenu {
    color: #BD1A22;
    font-size: smaller;
}

/*-----------------------------------------------
グラフィック
-----------------------------------------------*/
.graphic {
    top: 0;
    left: 0;
    z-index: 1;
}
#graphic {
    position: relative;
    overflow: hidden;
}
/*-----------------------------------------------
お店について
-----------------------------------------------*/
.aboutShop {
    background-color: #da643c;
    height: 500px;
    text-align: center;
    color: #edcc4b;
}
.aboutShop h1{
    padding-top: 20px;
}
.aboutShop p{
    margin: 20px;
}
.aboutShop h1{
    margin: 0 0 20px 0;
}
/*-----------------------------------------------
飲食メニュー
-----------------------------------------------*/
.shopMenu{
    color: #edcc4b;
    width: 768px;
    text-align: center;
    margin: auto;
    height: 718px;
}
.shopMenu article{
    margin: 0;
}
.shopMenu h1{
    margin: 20px 0 20px 0;
}
.menuDetail{
    font-style: italic;
    font-weight: 900;
}
.menuDetail h1 {
    font-size: 2em;
}
.menuDetail h1 span{
    padding: 10px;
    background: linear-gradient(#46ab64, #224f90);
    color: #edcc4b;
    display: inline-block;
    width: 280px;
    margin-bottom: 10px;
}
.menuDetail figure{
    width: 250px;
    margin: 0 auto 50px auto;
    float:left;
    overflow: hidden;
    /* text-align: center; */
}
.menuDetail figcaption{
    color: #BD1A22;
}
.menuDetail figure:first-child{
    margin-left: 0;
}
.menuDetail img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    /* margin: 0 15px 0 15px; */
}
/*-----------------------------------------------
当店のこだわり
-----------------------------------------------*/
.pickyAbout {
    background-color: #da643c;
    height: 570px; /* 内容に応じて変更 */
    text-align: center;
    color: #edcc4b;
}
.pickyAbout h1{
    padding: 30px 0 0 0;
}
.pickyAbout p{
    margin: 20px;
}
.list {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto 0 auto;
    width: 530px;
}
.item {
    margin: 15px;
    float: left;
    width: calc(50% - 10px);
    height: 115px;
}
.number{
    width: 20%;
    font-size: 100px;
}
.content{
    padding: 20px 0 20px 0;
}
/*-----------------------------------------------
アクセス
-----------------------------------------------*/
.access{
    color: #edcc4b;
    text-align: center;
    height: 355px;
    margin: 20px auto 20px auto;
}
.access h1{
    margin: 20px 0 20px 0;
}
/*-----------------------------------------------
コンタクト
-----------------------------------------------*/
.contact {
    background-color: #da643c;
    height: 400px; /* 内容に応じて変更 */
    text-align: center;
    color: #edcc4b;
}
.contact img{
    margin: 20px 0 20px 0;
}
/*-----------------------------------------------
フッター
-----------------------------------------------*/
footer {
    background-color: #edcc4b;
    color: #BD1A22;
    text-align: center;
    width: 100%;
    font-size: smaller;
    padding: 1px 0 1px 0;
}

footer nav {
    margin: 10px 0 10px 0;
}
.navbar a, footer a {
    color: #BD1A22;
    text-decoration: none;
    margin: 0 10px;
    font-size: larger;
}

footer a:hover {
    text-decoration: underline;
}

footer p{
    margin: 10px;
}

/* レスポンシブなスタイルを追加 */
@media screen and (max-width: 600px) {
    /*------------お店について------------*/
    .aboutShop img {
        width: 60%;
        height: 60%;
    }
    .aboutShop {
        height: 305px;
    }
    /*------------飲食メニュー------------*/
    .menuDetail figure{
        width: auto;
        float: none;
    }
    .menuDetail div{
        margin: 0 50px 0 50px;
    }
    .menuDetail img {
        height: 180px;
        width: 245px;
        margin: 0 auto;
    }
    .shopMenu {
        width: auto;
        height: 1390px;
    }
    .shopMenu article {
        margin: 0 0 20px 0;
    }
    .shopMenu img{
        width: 60%;
        height: 60%;
    }
    /*------------アクセス------------*/
    .access{
        height: 310px;
    }
    .access img{
        width: 60%;
    }
    /*------------コンタクト------------*/
    .contact input{
        width: 50px;
    }
    .contact textarea{
        width: 50px;
    }
    ・contact img{
        width: 60%;
    }
    /*------------ヘッダー------------*/
    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
    }
    .barmenu {
        font-size: x-small;
        color: #BD1A22;
    }

    .menu.show {
        display: flex;
    }

    .menu a {
        margin: -3px 10px 10px 44px;
        text-align: right;
    }

    .menu-toggle {
        display: block;
        /* margin: 0 0 0 auto; */
    }
    /*------------グラフィック------------*/
    /*------------当店のこだわり------------*/
    .list {
        width: auto;
        padding: 0 0 0 30px;
    }
    .pickeyAbout{
        height: 540px;
    }
    .piceyAbout img{
        width: 60%;
        height: 60%;
    }
    p {
    font-size: 14px;
    }
    /*------------フッター------------*/
    footer {
        font-size: smaller;
    }

    footer a {
        margin: 0 5px; /* リンクのマージンを調整 */
    }
}

@media screen and (min-width: 601px) {
    .navbar{
        padding: 15px;
    }
    .navbar a{
        font-size: 1.5em;
        font-weight: bold;
    }
    .navbar a:hover{
        text-decoration:underline #BD1A22;
    }
    /* 600px以上の場合はハンバーガメニューを非表示にする */
    .menu {
        display: flex !important;
    }

    .menu-toggle {
        display: none !important;
    }
}
