@import url(common.css);

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #faf3e9;
    color: #faf3e9;
    font-size: medium;
}
/*ーーーーーーーーーーーーーーーーーーーーーーー
ヘッダー
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.menu {
    list-style: none;
    display: flex;
    margin: 0 auto 0 auto;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    background-color: #f29b8f;
}

.menu a {
    background-color: #f29b8f;
    text-decoration: none;
    color: #faf3e9;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.shopLogo img{
    height: 40px;
}

/* スクロール時のヘッダースタイル */
body.sticky .navbar {
    background-color: #f29b8f;
}

/*ーーーーーーーーーーーーーーーーーーーーーーー
ハンバーガー
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.navbar {
    background-color: #f29b8f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #faf3e9;
    margin: 5px 0;
}

.barmenu {
    color: #faf3e9;
    font-size: smaller;
}

/*ーーーーーーーーーーーーーーーーーーーーーーー
グラフィック
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.graphic {
    margin-top: 68px;
    height: 940px;
    /* position: relative; */
    top: 0;
    left: 0;
    z-index: 1;
}
#graphic {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    height: 920px;
    /* width: 100%; */
}
.overlay-image {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 110px auto 0 10px;
}
/*ーーーーーーーーーーーーーーーーーーーーーーー
お店について
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.aboutShop {
    background-color: #8090c0;
    height: 400px; /* 内容に応じて変更 */
    text-align: center;
}
.aboutShop h1{
    padding-top: 0.6em;
}
/*ーーーーーーーーーーーーーーーーーーーーーーー
飲食メニュー
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.shopMenu{
    color: #f29b8f;
    width: 510px;
    text-align: center;
    margin: auto;
    height: 350px;
}
#menuDetail figure{
    width: 170px;
    margin: 0 0 15px auto;
    float:left;
    overflow: hidden;
    /* text-align: center; */
}
#menuDetail figure:first-child{
    margin-left: 0;
}
/*ーーーーーーーーーーーーーーーーーーーーーーー
当店のこだわり
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.pickyAbout {
    background-color: #8090c0;
    height: 400px; /* 内容に応じて変更 */
    text-align: center;
}
.pickyAbout h1{
}

/*ーーーーーーーーーーーーーーーーーーーーーーー
フッター
ーーーーーーーーーーーーーーーーーーーーーーーー*/
footer {
    background-color: #f29b8f;
    color: #faf3e9;
    text-align: center;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    font-size: smaller;
    padding: 1px 0 1px 0;
}

footer nav {
    margin: 10px 0 10px 0;
}
.navbar a, footer a {
    color: #faf3e9;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* レスポンシブなスタイルを追加 */
@media screen and (max-width: 600px) {
    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
    }
    .barmenu {
        font-size: x-small;
        color: #faf3e9;
    }

    .menu.show {
        display: flex;
    }

    .menu a {
        margin: -3px 10px 10px 44px;
        text-align: right;
    }

    .menu-toggle {
        display: block;
        margin: 0 30px 0 auto;
    }

    /* .content {
        margin-top: 71px;;
    } */
    
    .graphic{
        margin-top: 71px;
        height: 410px;
    }

    footer {
        font-size: smaller;
    }

    footer a {
        margin: 0 5px; /* リンクのマージンを調整 */
    }
}

/* 追加: 600px以上の場合はハンバーガーメニューを非表示にする */
@media screen and (min-width: 601px) {
    .menu {
        display: flex !important;
    }

    .menu-toggle {
        display: none !important;
    }
}
